<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="firstsection">
        <div class="base">
            <div class="firstlogo">
                <img class="leftlogo" src="./img/Group.png" >
            </div>
            <h1 class="tibetian">Tibetan <br>
            divination MO</h1>
        </div>
        <br>
        <br>
        <div>
            <p class="text">
                МО sets out to clarify for a person the future that <br>
                 awaits him, be it an answer to a specific question <br>
                  or a description of the general state of affairs. 
            </p>
        </div>
        <br>
        <br>
        <div>
            <p class="roll">
                Roll the dice and get accuainted <br> with your life much closer 
            </p>
        </div>
        <br>
        <br>

    </section>
</body>
</html>