@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(./img/background.png);
    background-repeat: repeat-y;
}
.tibetian{
    /* position: absolute;
    width: 259px;
    height: 84px;
    left: 648px;
    top: 54px; */

    /* font-family: Yeseva One; */
    /* font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px; */
    margin-left: 10px;
    margin-top: 20px;

    color: #A58E60;
}
.base{
    display: flex;
    position: absolute;
    width: 374px;
    height: 94px;
    left: 533px;
    top: 50px;
}
.text{
    color:white;
    font-size: 27px;
    font-weight: 500;
    margin-left: 80px;
    text-align: center;
    margin-top: 150px;
}
.roll{
    color: white;
    font-size: 27px;
    font-weight: 700;
    margin-left: 80px;
    text-align: center;
}