<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="container">
        <div class="left">
            <div class="common">

                <h1 class="toph1">О курсе</h1> <br>
                <p class="solp">Порой фильмы устроены сложнее четырёхтомных романов. Но читать книги учат со школы, а
                    смотреть кино — нет. При этом без подготовки бывает трудно получить от просмотра удовольствие.
                    <br>
                    <br>
                    На курсе из 8 занятий научимся быть осознанными зрителями. Познакомимся с этапами кинопроизводства и
                    узнаем, как смотреть кино глазами сценариста, режиссёра и монтажёра. Разберёмся в особенностях жанров и
                    рассмотрим важнейшие картины, от «Гражданина Кейна» до «Матрицы».
                </p>
                <div class="sagsekil">
                    <img src="./2.png">
                </div>
            </div>
            </div>
        <div class="fotleft">
            <div class="resim1">
                <img src="1.png">
            </div>
            <div class="yazicontainer">
                <div>
                    <h1 class="fh1">8 занятий </h1><br>
                    <p class="yazi1">
                        Для погружения <br>
                        в кинематограф
                    </p>
                </div>

                <div>
                    <h1 class="fh1"> 2 часа</h1> <br>
                    <p class="yazi1">
                        Длительность<br>
                        каждого занятия
                    </p>
                </div>

                <div>
                    <h1 class="fh1">3 недели</h1><br>
                    <p class="yazi1">
                        Длительность<br>
                        курса
                    </p>
                </div>
            </div>
        </div>

    </div>
    </div>
</body>

</html>